body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body {background:#ffffff;margin:0;padding:0;font-size:13px;font-family:Arial,Tahoma;}
a:link,a:visited{color:#1c3d72;text-decoration:none;}
a:hover,a:active{text-decoration:underline;}
li{list-style:none;}
img{padding:0;border:0;}
.wrap {position:relative;margin:0 auto;width:980px;}
.nav {width:100%;background:#022840;text-align:center;font-size:16px;}
.nav a:link,.nav a:visited{color:#fff;}
.nav .logo{background:#517360;display:inline-block;height:45;width:130px;line-height:45px;margin-right:1px;font-weight:bold;}
.nav .cc{background:#517360;display:inline-block;height:45px;width:70px;line-height:45px;}
.footer{float:left;width:100%;background:#022840;font-size:12px;color:#fff;height:auto;line-height:30px;}
.footer a:link,.footer a:visited{color:#fff;}
.c_m{background:#F2F2F2;margin:0 0 20px;}
#counts{font-size:15px;line-height:30px;}
.d{float:left;}
.f{font-size:16px;text-align:center;margin:auto;}
.d1{float:left;margin-right:10px;}
.d2{float:left;}

.k1{float:left;margin-right:5px;}
.k2{float:left;}

.e1{float:left;margin-right:5px;}
.e2{float:left;margin-right:5px;}
.e3{float:left;}

.ae1{width:250px;float:left;margin-right:5px;}
.ae2{width:470px;float:left;margin-right:5px;}
.ae3{width:250px;float:left;}

.layout .d{width:100%;}
.layout .d1{width: 450px;}
.layout .d2{width: 520px;}
.layout .e1{width: 330px;}
.layout .e2{width: 320px;}
.layout .e3{width: 320px;}
.layout .k1{width:700px;}
.layout .k2{width:275px;}
.links {overflow:hidden;margin-top:5px;margin-bottom:5px;border:1px solid #9DA67C;line-height:30px;font-size:12px;}
.links .l-header{height:25px;background:#9DA67C;padding:0 5px;line-height:25px;color:#fff;font-weight:bold;}
.links table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:20px;font-size:13px;text-align:center;}
.links td{margin:0;}
.zz ,.mm ,.nz {overflow:hidden;margin-top:5px;margin-bottom:5px;} 
.nz table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:20px;font-size:13px;}
.nz td{margin:0;border-width:1px 1px 1px 1px;border-color:#CCC;border-style:solid;}
.ll {overflow:hidden;margin-top:2px;margin-bottom:2px;border:1px solid #9DA67C;} 
.la {overflow:hidden;margin-top:2px;margin-bottom:12px;border:1px solid #9DA67C;} 
.lb {overflow:hidden;margin-top:2px;margin-bottom:2px;border:1px solid #9DA67C;}
.lc {overflow:hidden;margin-top:2px;margin-bottom:2px;border:1px solid #9DA67C;}
.aa .l-header{height:20px;background:#9DA67C;padding:0 5px;line-height:20px;color:#ffffff;font-weight:bold;}
.l-header a{float:right;color:#fff;font-weight:bold;font-size:15px;}
.aa .y-header{height:19px;background:#9DA67C;padding:0 5px;line-height:19px;color:#ffffff;font-weight:bold;}
.aa .k-header{height:20px;background:#9DA67C;padding:0 5px;line-height:20px;color:#ffffff;font-weight:bold;}
.aa li{float:left;width:100%;padding:2px 5px 2px 10px;overflow:hidden;text-overflow:ellipsis;}
.aa li{width:70px;}
.bb .b-header{height:20px;background:#9DA67C;padding:0 5px;line-height:20px;color:#ffffff;font-weight:bold;}
.bb li{padding-left:12px;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;zoom:1;border-collapse: collapse;}
.bb li{line-height:20px;}
.cc .b-header{height:20px;background:#9DA67C;padding:0 5px;line-height:20px;color:#ffffff;font-weight:bold;}
.cc li{float:left;width:100%;padding:5px 2px 0px 2px;overflow:hidden;text-overflow:ellipsis;}
.cc li{line-height:20px;width:150px;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ads{margin:3px 0px 3px;overflow:hidden;zoom:1;width:978px;border:1px solid #9DA67C;font-size:16px;font-weight:bold;line-height:20px;}
.links strong {padding:0 8px;}
.w {border:1px solid #9DA67C;padding:0 0 0 3px;line-height:30px;margin:3px 0px 0px;position:relative;height:35px;}
.w span{position:absolute;right:10px;}

#kj {height:25px;text-align:center;font-weight:bold;font-size:16px;}
#kj td{color:#fff;padding:0 5px 0 5px;}

.ti{border:1px solid #9DA67C;padding:0px 1px;line-height:30px;margin:5px 0px 0px;position:relative;}
.cp_1 {background:#FFFFFF url(r-a.gif) no-repeat center center;text-align:center;color:#fff;}
.cp_2 {background:#FFFFFF url(b-a.gif) no-repeat center center;text-align:center;color:#fff;}
.cp_3 {background:#FFFFFF url(g-a.gif) no-repeat center center;text-align:center;color:#fff;}
.cz_1 {background:#FFFFFF url(r-z.gif) no-repeat center center;text-align:center;color:#fff;font-family:Tahoma,Arial;font-weight:bold;}
.cz_2 {background:#FFFFFF url(b-z.gif) no-repeat center center;text-align:center;color:#fff;font-family:Tahoma,Arial;font-weight:bold;}
.cz_3 {background:#FFFFFF url(g-z.gif) no-repeat center center;text-align:center;color:#fff;font-family:Tahoma,Arial;font-weight:bold;}
.cl{color:#000;font-weight:bold;font-size:12px;}
.ce{color:#517360;font-size:9px;width:12px;}

.j{background:#F2F2F2;}
.ck{text-align:center;color:#CCC;font-size:11px;}
.ck0{background:#E4A492;text-align:center;color:#fff;font-size:12px;}
.ck1{background:#878ED4;text-align:center;color:#fff;font-size:12px;}
.ck2{background:#87D4B9;text-align:center;color:#fff;font-size:12px;}
.ck3{background:#D487CB;text-align:center;color:#fff;font-size:12px;}
.ck4{background:#FFB699;text-align:center;color:#fff;font-size:12px;}
.cl_1{color:#CD4F39;text-align:center;font-size:15px;font-weight:bold;}
.cl_2{color:#0000CD;text-align:center;font-size:15px;font-weight:bold;}
.cl_3{color:#00CD00;text-align:center;font-size:15px;font-weight:bold;}
.ck_1{background:#E4A492;text-align:center;color:#fff;font-weight:bold;}
.ck_2{background:#878ED4;text-align:center;color:#fff;font-weight:bold;}
.ck_3{background:#87D4B9;text-align:center;color:#fff;font-weight:bold;}


.ca{background:#F2F2F2;}
.c_1 {background:#FFFFFF url(r.gif) no-repeat center center;text-align:center;color:#fff;font-family:Arial,Tahoma;}
.c_2 {background:#FFFFFF url(b.gif) no-repeat center center;text-align:center;color:#fff;font-family:Arial,Tahoma;}
.c_3 {background:#FFFFFF url(g.gif) no-repeat center center;text-align:center;color:#fff;font-family:Arial,Tahoma;}
.e1 table,.e2 table,.e3 table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:25px;}
.e1 td,.e2 td,.e3 td{margin:0;padding:5px 2px 5px 2px;border-width:0 0 1px 0;border-color:#517360;border-style:solid;}
.ll table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:25px;text-align:center;}
.ll td{margin:0;border-width:1px 1px 0 0px;border-color:#CCC;border-style:solid;}
.t{float:left;width: 192px;padding:10px 2px 10px 2px;color:#666;}
.t5{float:left;width:192px;padding:10px 2px 10px 2px;color:#666;}
.t4{float:left;width:240px;padding:10px 2px 10px 2px;color:#666;}
.t3{float:left;width:322px;padding:10px 2px 10px 2px;color:#666;}
.t2{float:left;width:486px;padding:10px 2px 10px 2px;color:#666;}
.zz table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:20px;font-size:13px;text-align:center;}
.zz td{margin:0;border-width:1px 1px 1px 1px;border-color:#ccc;border-style:solid;}
.zz em{color:#517360;font-size:9px;}
.qq table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:20px;font-size:11px;text-align:center;}
.qq td{margin:0;border-width:0px 0px 0px 0px;border-color:#CCC;border-style:solid;}
.mm table{width:100%;margin:0px 0px;border-spacing: 0;border-collapse: collapse;line-height:20px;font-size:13px;}
.mm td{margin:0;border-width:1px 1px 1px 1px;border-color:#9DA67C;border-style:solid;}
.mm input{line-height:20px;font-size:12px;}
.c_a{background:#F3F3F3;font-size:15px;}
.c_b{background:#F2F2F2;font-size:15px;}
.cp{background:#ffffff;color:#fff;font-weight:bold;}
.pnc{height:35px;font-size:14px;}
.vm{background:#ccc;color:#000;}
.qd{background:#E1EFFB;font-weight:bold;}
.content{width:950px;font-size:16px;line-height:1.9;margin:15px 0px 35px 10px;overflow:hidden;}
.content .c1{color:#FF0000;}
.content .c2{color:#0000FF;}
.content .c3{color:#339966;}
h1.article-heading{color: #363737;font-size:22px;text-align:center;}
#scores1{font-size:32px;font-weight:bold;line-height:36px;color:#0000FF;}
#scores2{font-size:32px;font-weight:bold;line-height:36px;color:#0000FF;}
#scores3{font-size:32px;font-weight:bold;line-height:36px;color:#0000FF;}
#scores4{font-size:32px;font-weight:bold;line-height:36px;color:#0000FF;}
#scores5{font-size:32px;font-weight:bold;line-height:36px;color:#0000FF;}
#scores6{font-size:32px;font-weight:bold;line-height:36px;color:#339966;}
#scores7{font-size:32px;font-weight:bold;line-height:36px;color:#339966;}
#scores8{font-size:32px;font-weight:bold;line-height:36px;color:#339966;}
#scores9{font-size:32px;font-weight:bold;line-height:36px;color:#339966;}
#scores0{font-size:32px;font-weight:bold;line-height:36px;color:#339966;}
.duilian{top:150px;position:absolute;width:122px;overflow:hidden;display:none;z-index:1;}
.duilian_left{left:6px;}
.duilian_right{right:6px;}
.duilian_con{border:#CCC solid 1px;overflow:hidden;text-align:center;}
.duilian_close{width:100%;height:24px;line-height:24px;text-align:center;display:block;font-size:13px;color:#555555;text-decoration:none;cursor:hand;}
.same  td{text-align:left;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.tg1 {width: 100%;}
.tg1 ul {width:100%;margin: 0px;}
.tg1 li {float:left;width: 49%;height:35px;list-style-type:none;line-height: 35px;font-size:23px;font-weight:bold;}
.tg2 {width: 100%;}
.tg2 ul {width:100%;margin:4px 0px 0px;}
.tg2 li {width:100%;height:35px;list-style-type:none;line-height:35px;font-size:23px;font-weight:bold;}
.tg3 {width: 100%;}
.tg3 ul {width:100%;margin: 0px;}
.tg3 li {float: left;width: 20%;height:35px;list-style-type:none;line-height:35px;font-size:16px;font-weight:bold;}